* {
  box-sizing: border-box;
}

p{
  font-family: "Outfit", sans-serif;
  font-size: 14pt;
  font-weight: 200;
  line-height: 150%;
}

h2{
  font-family: "Outfit", sans-serif;
  font-size: 22pt;
  font-weight: 300;
  line-height: 150%;
}

h1{
    font-family: "Outfit", sans-serif;
    font-size: 32pt;
    font-weight: 300;
    line-height: 150%;
}

h3{
  font-family: "Outfit", sans-serif;
  font-size: 20pt;
  font-weight: 300;
  line-height: 150%;
}

h4{
    font-family: "Outfit", sans-serif;
    font-size: 14pt;
    font-weight: 300;
    line-height: 150%;
}

.crave-h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20pt;
  font-weight: 600;
  line-height: 150%;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
}

.crave-h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14pt;
  font-weight: 700;
  line-height: 150%;
}

.crave-h2-centered {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14pt;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
}


.crave-p1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14pt;
  font-weight: 400;
  line-height: 150%;
}

.dosis {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 72pt;
  line-height: 150%;
}

.persona_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 60px;
}

.persona-img {
  max-width: 345px;
  height: auto;
}

.space {
  margin: 60px 0;
}

img {
  width: 100%;
}

.jtbd-container {
  display: flex;
  flex-wrap: wrap;
}

.jtbd {
  display: inline-block;
  border: 2px solid #FFCE57;
  margin: 20px;
  border-radius: 20px;
  padding: 30px;
  max-width: 300px;
}

.flow_img {
  max-width: 700px;
  display: block;
  margin: 60px auto 120px;
}

.flow_img2 {
  max-width: 350px;
  display: block;
  margin: 60px auto 120px;
}

.flow_img3 {
  max-width: 500px;
  display: block;
  margin: 60px auto 120px;
}

.flows {
  max-width: 517px;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  margin: 0 20px;
  background-color: #F7F7F7;
}

.flows-container {
  background-color: #F7F7F7;
  display: flex;
  justify-content: flex-start; /* Aligns items evenly in the row */
  flex-wrap: wrap; /* Ensures the items wrap if the screen size is too small */
  text-align: center;
  gap: 40px;
  width: 100%;
  margin: 0 auto;
}

.inline-block {
  display: inline-block;
}

.skills-container {
  display: flex;
  justify-content: flex-start; /* Aligns items evenly in the row */
  flex-wrap: wrap; /* Ensures the items wrap if the screen size is too small */
  text-align: left;
  gap: 40px;
  width: 100%;
}

.skills {
  flex: 0 0 252px;
  width: 252px;
  box-sizing: border-box;
  text-align: left;
  margin: 0 0 0 20px;
}

.sgbuttons_containers {
  display: flex;
  justify-content: flex-start; /* Aligns items evenly in the row */
  flex-wrap: wrap; /* Ensures the items wrap if the screen size is too small */
  text-align: left;
  gap: 60px;
  width: 100%;
  margin: 40px 0;
}

.sgbuttons_p {
  max-width: 550px;
}

.sgbuttons_s {
  max-width: 450px;
}

.sgbuttons_t {
  max-width: 200px;
}

.sgimgs {
  max-width: 725px;
  margin: 40px 0;
}

.sliders {
  max-width: 300px;
  max-height: 330px;
}

.nav_bar {
  max-width: 300px;
}

.search_bar {
  max-width: 300px;
}

.star_rating {
  max-width: 150px;
}

.progress_dots {
  max-width: 80px;
}

.imagery {
  margin: 8px 0;
}

.typography {
  max-width: 600px;
  margin: 20px 0;
}

.preference_test {
  margin: 40px 0;
}

.mockup1 {
  margin: 0 auto;
  display: block;
}

a{
  color: #000000;
}
a:hover, a:focus{
  color: #D9C7C0;
}
a:active{
  color: #CBA79A
}
a:visited{
  color: #595959
}
.button {
  display: inline-block;
  background-color: #D9C7C0; 
  color: #000000; 
  font-family: "Outfit", sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.5;
  padding: 12px 16px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.4s ease; /* Slower duration to make it more noticeable */
  transition-property: background-color, opacity; /* Include background-color */
  margin-right: auto;
}

a.button:hover {
  background-color: #EAE0DC;
  color: #000000;
  text-decoration: none;
  opacity: 0.8;
}

.home {
  height: 16px;
  width: 16px;
}

.about_me {
  height: 16;
  width: 14px;
}

.nav_contact {
  height: 12px;
  width: 16px;
}

.container {
  padding: 0 20px;
}

.row {
  margin: 60px;
  display: flex;
  flex-direction: column;
}

.smallrow {
  margin: 40px;
  display: flex;
  flex-direction: column;
}

.largerow {
  margin: 120px;
  display: flex;
  flex-direction: column;
}

.my-work {
  margin: 32px 0 60px;
}

.pic_padding {
  max-width: 100%;
  box-sizing: border-box;
  display: block;
}
.shadow {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.shadow2 {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 26px;
}

header {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.header-container {
  display: flex;
  justify-content: space-between; /* Align logo to the left, nav to the right */
  align-items: center; /* Vertically center the content */
  padding: 70px 20px 8px 0px;
  width: 100%;
}

.logo {
  width: 150px;
  height: 55px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; /* Align nav items horizontally */
  place-items: center;
}

nav ul li {
  margin-left: 20px; /* Space between nav items */
  position: relative;
}

nav ul li a {
  display: block;
  padding: 0;
  position: relative; /* Positioning the underline relative to the link */
  text-decoration: none; /* No default underline */
}

nav ul li a::after {
  content: '';
  position: absolute;
  bottom: -5px; /* Adjust this if needed */
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  transform: scaleX(0); /* Initially hidden */
  transform-origin: left;
  transition: transform 0.3s ease; /* Smooth transition */
}

nav ul li a:hover::after {
  transform: scaleX(1); /* Scale the underline on hover */
}

main , footer {
  position: relative;
  top: 130px;
  z-index: 1;
}


.contact-buttons {
  max-width: 353px;
  margin: 40px 0;
}

.email {
  list-style: none;
  display: inline-block;
  margin-right: auto;
}

.social {
  float: right;
  margin-left: auto;
}

.social ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.social ul li {
  margin-left: 24px; /* Space between the social buttons */
  position: relative;
}

.social ul li a {
  display: block;
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.social ul li a::after {
  content: '';
  position: absolute;
  bottom: -5px; /* Adjusts distance from the button */
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black; /* Color of the underline */
  transform: scaleX(0); /* Hidden initially */
  transform-origin: left;
  transition: transform 0.3s ease; /* Smooth transition */
}

.social ul li a:hover::after {
  transform: scaleX(1); /* Expand underline on hover */
}

/* Style for the Floating Action Button */
#scrollTopBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  bottom: 20px; /* Position from the bottom */
  right: 30px; /* Position from the right */
  z-index: 99; /* Make sure it stays on top */
  border: none;
  outline: none;
  background-color: #D9C7C0; /* Button color */
  color: #000000; /* Text color */
  cursor: pointer;
  padding: 15px;
  border-radius: 50px; /* Circular button */
  font-size: 18px;
  transition: opacity 0.3s; /* Smooth fade-in transition */
}

#scrollTopBtn:hover {
  background-color: #EAE0DC; /* Lighter color on hover */
}

/* Show the button when scrolled a bit down */
.showBtn {
  display: block;
  opacity: 0.8; /* Initially semi-visible */
}

.showBtn:hover {
  opacity: 1; /* Fully visible on hover */
}


#contact {
  background-color: #FBFBF9;
  padding: 20px;
  max-width: 410px;
  display: block;
  margin: 0 auto;

}

footer {
  background-color: #FBFBF9;
}

footer div p {
  margin: 40px 0;
}

footer div div p {
  text-align: center; /* Center align the text */
  margin-top: 60px; 
  margin-bottom: 20px; 
}

.top-margins {
  margin: 40px 0;
}

.bar {
  width: 85px;
  height: 3px;
  margin: 60px 0 0 0;
  display: block;
}

.crave_pic {
  max-width: 750px;
  display: block;
  margin: 0 auto;
}


#hero {
  background-color: #FBFBF9;
  padding: 20px;
}
#projects {
  background-color: #ffffff;
}
#about {
  margin: 20px 20px 40px;
  background-color: #ffffff;
}

.blush {
  width: 100px;
  height: 100px;
  animation: gradientColorChange 2s infinite alternate;
}

.eye1, .eye2 {
  animation: moveEyes 2s infinite alternate;
}

.stop1 {
  animation: gradientColorChange 2s infinite alternate;
}

.stop2 {
  animation: gradientStopOpacityChange 2s infinite alternate;
}

@keyframes gradientColorChange {
  0% {
    stop-color: #EAE0DC; /* Original color */
  }
  100% {
    stop-color: #DEC0B5; /* New color */
  }
}

@keyframes gradientStopOpacityChange {
  0% {
    stop-color: #D9C7C0; /* Original color */
    stop-opacity: 0;
  }
  100% {
    stop-color: #D0A595; /* New color */
    stop-opacity: 0;
  }
}

@keyframes moveEyes {
  0% {
    transform: translateX(0); /* Start at original position */
  }
  100% {
    transform: translateX(20px); /* Move 50px to the right */
  }
}

@media only screen and (min-width: 540px) {
  header {
    padding: 0 12px;
  }
  .logo {
    width: 225px;
    height: 82px;
  }

  .home {
    height: 24px;
    width: 24px;
  }
  
  .about_me {
    height: 24;
    width: 21px;
  }

  .profile-photo {
    width: 476px;
    display: block;
    margin: 0 auto;
  }
  
  .nav_contact {
    height: 18px;
    width: 24px;
  }

  nav ul li {
    margin-left: 32px; /* Space between nav items */
  }

  .container {
    padding: 0 32px;
  }

  .flows {
    margin: 0 32px;
  }

  .imagery {
    margin: 12px 0;
  }

  .preference_test {
    margin: 40px 32px;
  }

  #hero {
    padding: 32px;
  }

  #about {
    margin: 40px 32px 40px;
  }

  .container {
    padding: 0 32px;
  }

  .mockup2 {
    max-width: 650px;
    margin: 0 auto;
    display: block;
  }

}

@media only screen and (min-width: 800px) {
  header {
    padding: 0 24px;
  }

  .header-container {
    padding: 20px 20px 0px 0px;
  }

  nav ul li {
    margin-left: 40px; /* Space between nav items */
  }

  .container {
    padding: 0 44px;
  }

  .flows {
    margin: 0 44px;
  }

  .imagery {
    margin: 20px 0;
    width: 48%;
  }

  .imagery_container {
    display: flex;
    justify-content: flex-start; /* Aligns items evenly in the row */
    flex-wrap: wrap; /* Ensures the items wrap if the screen size is too small */
    text-align: left;
    gap: 16px;
    width: 100%;
  }

  .preference_test {
    margin: 40px auto;
    max-width: 800px;
    display: block;
  }

  #hero {
    padding: 20px 44px 44px 44px;
  }

  #about {
    margin: 40px 44px 40px;
  }

  .container {
    padding: 0 44px;
  }

  .mockup1 {
    max-width: 712px;
  }

  .end {
    max-width: 900px;
  }

}

@media only screen and (min-width: 905px) {
  .col-md-6 {
    width: 50%;
    height: 100%;
    float: left;
  }

  .my-work {
    display: flex;
    flex-wrap: wrap;
  }

  .largerow {
    clear: both;
  }

  p {
    font-size: 14pt;
  }

  .pic_padding {
    padding: 0 40px 0 0;
    max-width: 100%;
  }
}


