p{
  font-family: "Outfit", sans-serif;
  font-size: 17px;
  font-weight: 200;
  line-height: 1.5;
}
h2{
  font-family: "Outfit", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.5;
}
h1{
    font-family: "Outfit", sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 1.5;
}
h3{
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
}
h4{
    font-family: "Outfit", sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.5;
  }
  img {
    width: 100%;
  }