* {
  box-sizing: border-box;
}
p{
  font-family: "Outfit", sans-serif;
  font-size: 17px;
  font-weight: 200;
  line-height: 1.5;
}
h2{
  font-family: "Outfit", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.5;
}
h1{
    font-family: "Outfit", sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 1.5;
}
h3{
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
}
h4{
    font-family: "Outfit", sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.5;
  }
  img {
    width: 100%;
  }
a{
    color: #000000;
}
a:hover,
a:focus{
    color: #D9C7C0;
}
a:active{
    color: #CBA79A
}
a:visited{
    color: #595959
}
.button {
  display: inline-block;
  background-color: #D9C7C0; 
  color: #000000; 
  font-family: "Outfit", sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.5;
  padding: 12px 16px;
  border-radius: 20px;
  text-decoration: none;
  transition: 0.2s opacity;
}
.button:hover {
  background-color: #DDC5BC;
  text-decoration: none;
}
.button.secondary {
  display: inline-block;
  background-color: #ffffff; 
  color: #000000; 
  font-family: "Outfit", sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.5;
  padding: 12px 16px;
  border-radius: 20px;
  text-decoration: none;
  transition: 0.2s opacity;
  border: 1px solid #000000; 
}
.button.secondary:hover {
  background-color: #DDC5BC;
  text-decoration: none;
}
.container {
  padding: 0 20px;
}
.row {
  margin: 24px 0 60px 0;
}
header {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.header-container {
  display: flex;
  justify-content: space-between; /* Align logo to the left, nav to the right */
  align-items: center; /* Vertically center the content */
  padding: 70px 20px 20px 0px;
  width: 100%;
}

.logo {
  max-width: 150px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; /* Align nav items horizontally */
}

nav ul li {
  margin-left: 20px; /* Space between nav items */
}

nav ul li a {
  display: block;
  padding: 0;
}
main , footer {
  position: relative;
  top: 130px;
  z-index: 1;
}
#contact {
  background-color: #FBFBF9;
  padding: 20px;
}
#hero {
  background-color: #FBFBF9;
  padding: 20px;
}
#projects {
  background-color: #ffffff;
}
#about {
  background-color: #ffffff;
}
#casestudy {
  background-color: #ffffff;
  padding: 20px;
}